<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAQ_modules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAQ_modules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DAQ_modules.Properties.Settings>
            <setting name="site_id" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="fluke_id" serializeAs="String">
                <value>IS033301</value>
            </setting>
            <setting name="d34970_id" serializeAs="String">
                <value>002334</value>
            </setting>
            <setting name="daq970_id" serializeAs="String">
                <value>1646762</value>
            </setting>
            <setting name="d34980_id" serializeAs="String">
                <value>2245592</value>
            </setting>
        </DAQ_modules.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DAQ_modules.Properties.Settings>
            <setting name="AppDataPath" serializeAs="String">
                <value>\\b230-cdot2-svm3\metsrv\356F Software\DAQ Modules - Andy\Release\AppData</value>
            </setting>
            <setting name="CalibrationReports" serializeAs="String">
                <value>\\b230-cdot2-svm3\metsrv\356F Calibration Reports\_Electrical Cal Reports\Temperature\Module Temp Cards</value>
            </setting>
            <setting name="fluke_reading_url" serializeAs="String">
                <value>https://smart.jpl.nasa.gov/Metrology/EMS/api/current_fluke_reading/</value>
            </setting>
            <setting name="cal_due_dates_url" serializeAs="String">
                <value>https://smart.jpl.nasa.gov/api/IndySoft/cal_due_dates/</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>metrology_software</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Metrology356F</value>
            </setting>
        </DAQ_modules.Properties.Settings>
    </applicationSettings>
</configuration>