<!-- Base Extension -->
{% extends 'daq/daq_base.html' %}


<!-- Page Label -->
{% block page_label %}
    Type J
{% endblock %}


<!-- Main Content -->
{% block page_content %}
<!-- Modal for Type J connection -->
<div class="modal fade" id="daq-type-j-connection" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Connector</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-center">
                Insert <strong class="type-j-color">Type J</strong> Connector into the Ectron.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="form-btn-exit" data-dismiss="modal">Cancel</button>
                <button type="button" class="form-btn-submit primary-bg" data-dismiss="modal" id="daq-type-j-modal-btn">Done</button>
            </div>
        </div>
    </div>
</div>

<!-- Type J Test header -->
<div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
        <h2>Temperature Test: Type J</h2>
    </div>
    <div class="col"></div>
</div>

<br/>
<br/>

<!-- Test parameters -->
<div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col-6">
        <!-- Channel choices -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col text-right">
                <label class="form-input-label" for="daq-type-j-test-channel">Channel:</label>
            </div>
            <!-- 34970 / DAQ970 -->
            <div class="col text-center" id="daq-type-j-test-channel-col">
                <select class="form-dropdown text-center" id="daq-type-j-test-channel" style="width: 80%; text-align-last: center">
                    <option value="201">201</option>
                    <option value="202">202</option>
                    <option value="203">203</option>
                    <option value="204">204</option>
                    <option value="205">205</option>
                    <option value="206" selected>206</option>
                    <option value="207">207</option>
                    <option value="208">208</option>
                    <option value="209">209</option>
                    <option value="210">210</option>
                    <option value="211">211</option>
                    <option value="212">212</option>
                    <option value="213">213</option>
                    <option value="214">214</option>
                    <option value="215">215</option>
                    <option value="216">216</option>
                    <option value="217">217</option>
                    <option value="218">218</option>
                    <option value="219">219</option>
                    <option value="220">220</option>
                </select>
            </div>
            <!-- 34980 -->
            <div class="col text-center error-hide" id="daq-type-j-test-channel-double-col">
                <select class="form-dropdown text-center" id="daq-type-j-test-channel-double" style="width: 80%; text-align-last: center">
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006" selected>2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="col-2"></div>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>

        <!-- First Setpoint Value -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col text-right">
                <label class="form-input-label" for="daq-type-j-1">First Value:</label>
            </div>
            <div class="col text-center">
                <input class="form-input-field text-center" id="daq-type-j-1" style="width: 80%" type="text">
            </div>
            <div class="col-2"></div>
        </div>

        <br/>
        <br/>

        <!-- Second Setpoint Value -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col text-right">
                <label class="form-input-label" for="daq-type-j-2">Second Value:</label>
            </div>
            <div class="col text-center">
                <input class="form-input-field text-center" id="daq-type-j-2" style="width: 80%" type="text">
            </div>
            <div class="col-2"></div>
        </div>

        <br/>
        <br/>

        <!-- Third Setpoint Value -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col text-right">
                <label class="form-input-label" for="daq-type-j-3">Third Value:</label>
            </div>
            <div class="col text-center">
                <input class="form-input-field text-center" id="daq-type-j-3" style="width: 80%" type="text">
            </div>
            <div class="col-2"></div>
        </div>

        <br/>
        <br/>

        <!-- Fourth Setpoint Value -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col text-right">
                <label class="form-input-label" for="daq-type-j-4">Fourth Value:</label>
            </div>
            <div class="col text-center">
                <input class="form-input-field text-center" id="daq-type-j-4" style="width: 80%" type="text">
            </div>
            <div class="col-2"></div>
        </div>

        <br/>
        <br/>

        <!-- Fifth Setpoint Value -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col text-right">
                <label class="form-input-label" for="daq-type-j-5">Fifth Value:</label>
            </div>
            <div class="col text-center">
                <input class="form-input-field text-center" id="daq-type-j-5" style="width: 80%" type="text">
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <!-- Print Area -->
    <div class="col" style="padding: 0">
        <div class="row align-items-center">
            <label for="daq-type-j-print-area"></label>
            <div id="daq-type-j-print-area" style="height: 450px" class="print-area"></div>
        </div>

        <br>

        <!-- Result Label -->
        <div class="row align-items-center">
            <div class="col" style="padding: 0">
                <label class="tests-label">Result:</label>
            </div>
            <div class="col">
                <label class="alert-success-text" id="daq-type-j-none" style="font-size: 1.375rem;"><b></b></label>
                <label class="alert-success-text error-hide" id="daq-type-j-pass" style="font-size: 1.375rem;"><b>Pass</b></label>
                <label class="alert-success-text error-hide" id="daq-type-j-pass-dagger" style="font-size: 1.375rem;"><b>Pass‡</b></label>
                <label class="alert-danger-text error-hide" id="daq-type-j-fail-dagger" style="font-size: 1.375rem;"><b>Fail‡</b></label>
                <label class="alert-danger-text error-hide" id="daq-type-j-fail" style="font-size: 1.375rem;"><b>Fail</b></label>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="col-2"></div>

</div>

<br/>
<br/>
<br/>
<br/>

<!-- Go Back and Run buttons -->
<div class="row">
    <div class="col-4"></div>
    <div class="col">
        <div class="form-footer">
            <div class="form-buttons">
                <button class="btn-go-back primary-bg"
                        type="button" onclick="window.location.href='tests.html'">Go Back</button>
                <button class="btn-go-back alert-success-bg" id="daq-type-j-run" type="button">Run Test</button>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}


<!-- Page JS Files -->
{% block page_js_include %}
<script src="../../js/daq/Daq_Type_J.js"></script>
{% endblock %}