<div class="modal fade" id="countdown" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">EMFs Settling...</h4>
<!--                <button type="button" class="close" data-dismiss="modal">&times</button>-->
            </div>

            <!-- Modal body -->
            <div class="modal-body text-center">
                <span id="timer">00:00</span>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="form-btn-exit" data-dismiss="modal" id="countdown-cancel-btn">Cancel</button>
                <button type="button" class="form-btn-submit primary-bg" data-dismiss="modal" id="countdown-advance-btn">Advance</button>
            </div>
        </div>
    </div>
</div>