<div class="form-app">
    <div class="form-header">
        <div class="form-title">
            <h4>IndySoft Login</h4>
        </div>

        <div class="form-picture">
            <img src="../../images/globals/indysoft.png" alt="IndySoft Logo"/>
        </div>
    </div>

    <hr class="form-hr">

    <div class="form-fields">
        <div class="form-field-wrapper">
            <p class="form-error-text error-hide" id="username_error">Input error: Username incorrect</p>
            <label class="col-form-label form-input-label" for="username">
                Username</label>
            <input class="form-input-field" id="username" type="text" autocomplete="off" readonly
                   onfocus="this.removeAttribute('readonly');">
        </div>

        <br>

        <div class="form-field-wrapper">
            <p class="form-error-text error-hide" id="password_error">Input error: Password incorrect</p>
            <label class="col-form-label form-input-label" for="password">
                Password</label>
            <input class="form-input-field" id="password" type="password" autocomplete="off" readonly
                   onfocus="this.removeAttribute('readonly');">
        </div>
    </div>
</div>