<div class="form-app">
    <div class="form-header">
        <div class="form-title">
            <h4>Software Launch</h4>
        </div>
    </div>

    <hr class="form-hr">

    <div class="form-fields">
        <div class="form-field-wrapper">
            <p class="form-error-text error-hide" id="software_error">Select which software to run</p>
            <select class="form-dropdown" id="softwareOption">
                <option value="none" hidden>
                    Select an Option
                </option>
                <option value="daq" selected>MUX Cards</option>
            </select>
        </div>
    </div>
</div>