<div class="row align-items-center">
    <div class="col text-center">
        <h5>Specifications are listed from the 95% table at the One Year Interval</h5>
    </div>
</div>

<br/>
<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-4">
        <div class="label-container">
            <div class="left-border"></div>
            <div class="top-border"><h4>Type E</h4></div>
            <div class="bottom-border"></div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <div class="label-container">
            <div class="left-border"></div>
            <div class="top-border"><h4>Type J</h4></div>
            <div class="bottom-border"></div>
        </div>
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label"><strong>Range</strong></label>
    </div>
    <div class="col-2 text-center">
        <label class="form-input-label"><strong>±°C</strong></label>
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label"><strong>Range</strong></label>
    </div>
    <div class="col-2 text-center">
        <label class="form-input-label"><strong>±°C</strong></label>
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-270 < -245</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-e-range-1" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-210 < -180</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-j-range-1" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-245 < -195</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-e-range-2" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-180 < -120</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-j-range-2" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-195 < -155</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-e-range-3" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-120 < -50</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-j-range-3" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-155 < -90</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-e-range-4" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-50 < 990</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-j-range-4" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-90 < 15</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-e-range-5" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">990 - 1200</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-j-range-5" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">15 < 890</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-e-range-6" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center"></div>
    <div class="col-2 text-center"></div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">890 - 1000</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-e-range-7" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center"></div>
    <div class="col-2 text-center"></div>
    <div class="col"></div>
</div>

<br/>
<br/>
<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-4">
        <div class="label-container">
            <div class="left-border"></div>
            <div class="top-border"><h4>Type K</h4></div>
            <div class="bottom-border"></div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <div class="label-container">
            <div class="left-border"></div>
            <div class="top-border"><h4>Type T</h4></div>
            <div class="bottom-border"></div>
        </div>
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label"><strong>Range</strong></label>
    </div>
    <div class="col-2 text-center">
        <label class="form-input-label"><strong>±°C</strong></label>
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label"><strong>Range</strong></label>
    </div>
    <div class="col-2 text-center">
        <label class="form-input-label"><strong>±°C</strong></label>
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-270 < -255</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-k-range-1" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-270 < -255</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-t-range-1" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-255 < -195</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-k-range-2" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-255 < -240</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-t-range-2" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-195 < -115</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-k-range-3" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-240 < -210</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-t-range-3" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-115 < -55</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-k-range-4" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-210 < -150</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-t-range-4" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-55 < 1000</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-k-range-5" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-150 < -40</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-t-range-5" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">1000 - 1372</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-k-range-6" style="width: 50%" type="text">
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">-40 < 100</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-t-range-6" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>

<br/>

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col-2 text-center"></div>
    <div class="col-2 text-center"></div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <label class="form-input-label">100 - 400</label>
    </div>
    <div class="col-2 text-center">
        <input class="form-input-field text-center" id="ectron-1140a-specs-type-t-range-7" style="width: 50%" type="text">
    </div>
    <div class="col"></div>
</div>